We Soc / <%= title %>
<section id="feed-posts">
	<h4>Posts</h4>
	<% if(locals.user) {%>
	<form action="/posts/create" method="POST" id="new-post-form">
		<textarea required name="content" id="content" cols="30" rows="5" placeholder="Type Here..."></textarea>
		<input type="submit" value="create Post">
	</form>
	<% } %>
	<div id="posts-list-container">
		<% for(let post of locals.posts || []) { %>
		<div id="post-<%= post._id%>">
			<div><%= post.content%></div>
			<div><%= post.user.name%> </div>
			<div class="comments-container" id="post-<%=post._id%>-comments-container">
				<div class="comments-list-container">
					<% for(let comment of post.comments || []) { %>
					<div class="comment-container">
						<div><%= comment.content%></div>
						<div>- <%= comment.user.name%> </div>
					</div>
					<% } %>
				</div>
				<div class="comment-form-container">
					<form action="/posts/<%=post._id%>/comments/create" method="POST" id="post-<%=post._id%>-new-comment-form">
						<textarea required name="content" id="content" cols="30" rows="1" placeholder="Type Here..."></textarea>
						<input type="submit" value="create Post">
					</form>
				</div>


			</div>
		</div>
		<% } %>
	</div>

</section>